<div class="d-flex flex-row-reverse bd-highlight">
    <button routerLink="/home" routerLinkActive="active" class="btn btn-primary mb-3">Login</button>
</div>
<div class="m-auto">
    
    <h5 class="text-center">REGISTER</h5>
    <form class="m-1 form" (ngSubmit)="register()" #loginForm="ngForm">
        <div class="mb-3 form-group">
            <label class="form-label">Email</label>
            <input type="email" class="form-control"[(ngModel)]="email" name="email" #emailUser="ngModel" required>
            <app-message *ngIf="emailUser.invalid && emailUser.touched" message="Email obrigatorio"></app-message>
        </div>
        <div class="mb-3 form-group">
            <label  class="form-label">Password</label>
            <input type="password" class="form-control"  [(ngModel)]="password" name="password" #passwordUser="ngModel" required>
            <app-message *ngIf="passwordUser.invalid && passwordUser.touched" message="Senha obrigatoria"></app-message>
        </div>
        <div class="text-center">
            <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-block">Login</button>
        </div>
    </form>
</div>
