<div class="container-fluid  h-100 ">
    
    <div class="row">
        <div class="col-md-6 ">
            <app-photo url="assets/images/1.jpg" description="imagem"></app-photo>
        </div>
        <div class="col-md-6 ">
            <router-outlet></router-outlet>
        </div>
    </div>
  </div>
