<div class="container-fluid  h-100 ">
    
    <div class="row">
        <div class="col-md-6 ">
            <h1>Forum C</h1>
        </div>
        <div class="col-md-6 ">
            <router-outlet></router-outlet>
        </div>
    </div>
  </div>